/* ------------------------------------------------COLORS-------------------------------- */

$white: #ffffff;
$base-color: #eeeeee;
$dark-color: #222222;
$dark-color-op: #222222cc;
$accent-color: #14b042;
// $accent-color-op: #79b98831;