@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,600i,700,700i,800,800i,900');

$font-sans: 'Raleway',
sans-serif;
// $font-serif: 'Georgia',
// serif;

$font-heavy: 700;
$font-regular: 400;
$font-light: 300;

$font-big: 2rem;
$font-medium: 1.5rem;
$font-small: 1.1rem;
$font-tiny: 0.9rem;

// $font-big-t: 1.8rem;
// $font-medium-t: 1.5rem;
// $font-small-t: 1.0rem;
// $font-tiny-t: 0.9rem;

// $font-big-m: 1.5rem;
// $font-medium-m: 1.3rem;
// $font-small-m: 0.9rem;
// $font-tiny-m: 0.7rem;